/* Overwrite Bootstrap style */

.wrapper {
	width: 1280px;
	margin: 0px auto;
}


#dashboard-side{
	background: #f2f2f2;
	min-height: 500px;
}


#dashboard-main{
	background: #f2f2f2;
	min-height: 500px;
}

